body{
    overflow: scroll;
}

.inicio{
    display: flex;
    justify-content: left;
}

.inicio button{
    border: transparent;
    padding: 0px 7px;
    border-radius: 13px;
    margin-top: 20px;
    margin-right: 13px;
    margin-bottom: 20px;
    height: 40px;
    text-align: center;
    box-shadow: 0 0.1rem 0.5rem rgb(145, 145, 145);
    transition: all 0.5s;
}

.inicio button a{
    color: black;
}

.inicio button:hover{
    border: transparent;
    background-color:rgb(86, 86, 221) ; 
    box-shadow: 0 0.4rem 0.9rem rgb(48, 0, 160);
    transform: scale(1.1);
}

.card{
    box-shadow: 0 0.5rem 0.8rem rgb(145, 145, 145); 
}

.card-img-top{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.galeria{
display: flex;
height: 100vh;
width: 100%;
}

.galeria img{
    aspect-ratio: 16/16;
    min-width: 0;
    flex: 1 1 50px;
    object-fit: cover;
    opacity: .7;
    transition: .5s;
}

.galeria img:hover{
    flex: 1 1 100px;
    opacity: 1;
}







