body{
    overflow: scroll;
    overflow-x: hidden;
}

.inicio{
    display: flex;
    justify-content: left;
}

::-webkit-scrollbar {
    background-color: rgb(85, 85, 85);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(109, 109, 109);
}



.inicio button{
    border: transparent;
    padding: 0px 7px;
    border-radius: 13px;
    margin-top: 20px;
    margin-right: 13px;
    margin-bottom: 20px;
    height: 40px;
    text-align: center;
    box-shadow: 0 0.1rem 0.5rem rgb(145, 145, 145);
    transition: all 0.5s;
}

.inicio button a{
    color: black;
}

.inicio button:hover{
    border: transparent;
    background-color:rgb(86, 86, 221) ; 
    box-shadow: 0 0.4rem 0.9rem rgb(48, 0, 160);
    transform: scale(1.1);
}

.card{
    box-shadow: 0 0.5rem 0.8rem rgb(145, 145, 145); 
}

.card-img-top{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.inicio-pic{
    display: flex;
}

.pic{
    margin-top: 20px;
    height: 400px;
    box-shadow: 0 0.2rem 0.9rem 0 rgb(61, 61, 61);
    margin-right: 30px;
    transition: all 0.5s;
    border-radius: 10px;
}

.pic:hover{
    transform: scale(1.05);
}

@media (max-width:785px){
    .inicio-pic{
        display: block;
    }
    .inicio-pic img{
        margin-left: 30px;
    }
}




