@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    color: black;
    background-color: white;
    overflow: hidden;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem rgb(145, 145, 145);
    width: 100%;
    background: white;
    transition: all 0.5s;
}

.navigation .logo {
    color: black;
    font-size: 1.5rem;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: black;
    font-size: 18px;
    transition: all 0.6s;
}

.navigation ul li a:hover {
    color: blue;
}

.menu {
    display: none;
}

.menu .bar {
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: black;
    margin: 5px;
    transition: all 0.4s;
}

.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.inicio-txt{
    margin-top: 300px;
}

.inicio-img{
    margin-top: 200px;
}

.inicio-img img{
    border-radius: 100%;
}

.inicio-txt h1 {
    font-size: 40px;
}

.inicio-txt button{
    border: transparent;
    padding: 0px 7px;
    border-radius: 13px;
    margin-top: 20px;
    margin-right: 13px;
    height: 40px;
    text-align: center;
    box-shadow: 0 0.1rem 0.5rem rgb(145, 145, 145);
    transition: all 0.3s;
}

.inicio-txt button a{
    color: black;
}

.inicio-txt button:hover{
    border: transparent;
    background-color:rgb(86, 86, 221) ; 
    box-shadow: 0 0.4rem 0.9rem rgb(48, 0, 160);
    transform: scale(1.1);
}   

.inicio-txt a{
    color: black;
}

.inicio-txt i{
    margin: 4px;
}

.inicio-txt i{
    font-size: 45px;
    transition: all 0.5s;
}

.inicio-txt i:hover{
    transform: scale(1.2);
}

#ins:hover{
    color:rgb(97, 1, 97);
    
}
#ins:hover{
    color:rgb(97, 1, 97);
    
}
#in:hover{
    color: blue;
    
}
#mail:hover{
    color: red;
    
}
#whats:hover{
    color: green;
    
}

.inicio-img img {
    width: 90%;
    margin-left: 30px;
}

.pjts {
    display: flex;
}

.cards {
    height: 170px;  
}

.card {
    box-shadow: 0 0.1rem 0.5rem rgb(145, 145, 145);
    text-align: center;
    margin-right: 30px;
    margin-top: 20px;
}

.left-space {
    margin-left: 40%;
}



.imgs{
    background-image: url(/src/img/IMG_20230810_170720.jpg);
    background-size: 300px;
    height: 500px;
    width: 425px;
    
    background-repeat: no-repeat;
    margin-left: 55px;
}

#picD{
    height: 565px;
    width: 100%;
}

button{
    cursor: pointer;
}

@media (max-width:785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: white;
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .inicio {
        padding: 10px 2%;
        flex-direction: column;
        text-align: center;
        gap: 5rem;
        margin-bottom: 10px;
    }

    .inicio-img img {
        width: 300px;
        margin-right: 20px;
    }

    ::-webkit-scrollbar {
        background-color: rgb(85, 85, 85);
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(109, 109, 109);
    }

    /* .pjts {
        display: block;
    }

    .cards {
        height: 170px;
    }

    .card {
        box-shadow: 0 0.1rem 0.5rem rgb(145, 145, 145);
        text-align: center;
        margin-right: 60px;
        margin-top: 20px;
    }
    
.left-space {
    margin-left: 25%;
}
#card3{
    margin-top: 27%;
    margin-left: 5%;
} */
}